<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cocacola.mvc.mapper.OpenerPostMapper">

    <select id="selectByCategory"
            parameterType="int"
            resultType="OpenerPostDTO">
        SELECT POST_ID, CATEGORY_ID, TITLE, SUMMARY, THUMBNAIL_URL, EXTERNAL_URL, DETAIL_URL
        FROM OPENER_POST
        WHERE CATEGORY_ID = #{categoryId}
        ORDER BY POST_ID
    </select>

</mapper>
