<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cocacola.mvc.mapper.OriginalsMapper">
    <select id="selectAll" resultType="cocacola.mvc.domain.OriginalsDTO">
        SELECT 
            originals_id AS id,
            originals_title AS title,
            originals_summary AS summary,
            originals_image AS image,
            originals_date AS "date"
        FROM ORIGINALS 
        ORDER BY originals_id ASC
    </select>

    <select id="selectById" parameterType="int" resultType="cocacola.mvc.domain.OriginalsDTO">
        SELECT 
            originals_id AS id,
            originals_title AS title,
            originals_summary AS summary,
            originals_image AS image,
            originals_date AS "date"
        FROM ORIGINALS 
        WHERE originals_id = #{id}
    </select>
</mapper>